<!--<connectionStrings>
  <add name="iPlusV4_Entities"
       connectionString="metadata=res://*/iPlusV4.csdl|res://*/iPlusV4.ssdl|res://*/iPlusV4.msl;provider=System.Data.SqlClient;provider connection string=&quot;
         data source=.\SQLEXP12;
         initial catalog=iPlusV5; 
         persist security info=True;
         user id=gip;
         password=netspirit;
         MultipleActiveResultSets=True;
         Asynchronous Processing=True;
         App=iPlus_db&quot;"
    providerName="System.Data.EntityClient" />
</connectionStrings>    
-->
<connectionStrings>
    <add name="iPlusV4_Entities" 
		 connectionString="Integrated Security=True;
		 Encrypt=False;
		 data source=GIPSOFT-MZ;
		 initial catalog=iPlusV5;
		 Trusted_Connection=True;
		 persist security info=True;
		 user id=gip;
		 password=netspirit;
		 multipleactiveresultsets=True;
		 application name=iPlus"/>
</connectionStrings>

