<connectionStrings>
  <add name="iPlusV4_Entities"
       connectionString="metadata=res://*/iPlusV4.csdl|res://*/iPlusV4.ssdl|res://*/iPlusV4.msl;provider=System.Data.SqlClient;provider connection string=&quot;
         data source=gipDLVmSQL1.incus;
         initial catalog=iPlusV4; 
         persist security info=True;
         user id=sa;
         password=1Netspirit!;
         MultipleActiveResultSets=True;
         Asynchronous Processing=True;
         App=iPlus_db&quot;"
    providerName="System.Data.EntityClient" />
</connectionStrings>
