<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="ADSNetID" value="192.168.178.78.1.1"/>
    <add key="ADSPort" value="851"/>
    <add key="LogPath" value="D:\Temp"/>
  </appSettings>
</configuration>
