<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="Logging">
            <section name="LoggingConfiguration" type="gip.core.framework.LoggingConfiguration, gip.core.framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="VB2008_Entities" connectionString="metadata=VB2008.csdl|VB2008.ssdl|VB2008.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=GIP-DLMV\SQLEXPRESS;Initial Catalog=VB2008_dev;Persist Security Info=True;User ID=gip;Password=netspirit;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <Logging>
        <LoggingConfiguration>
            <LogFiles>
                <addLogFile FileType="DebugLog" FileName="DebugLog%Date%.log" MaxSizeMB="10" />
                <addLogFile FileType="UserLog" FileName="UserLog%Date%.log" MaxSizeMB="10" />
            </LogFiles>
            <LoggingTypes>
                <addLoggingType FileType="DebugLog" MessageType="Debug" Source="default"></addLoggingType>
                <addLoggingType FileType="DebugLog" MessageType="Command" Source="default"></addLoggingType>
                <addLoggingType FileType="UserLog" MessageType="Info" Source="default"></addLoggingType>
                <addLoggingType FileType="UserLog" MessageType="Warning" Source="default"></addLoggingType>
                <addLoggingType FileType="UserLog" MessageType="Error" Source="default"></addLoggingType>
            </LoggingTypes>
        </LoggingConfiguration>
    </Logging>
    <!-- system.serviceModel section is not supported on .NET 6 (see https://devblogs.microsoft.com/dotnet/migrating-a-sample-wpf-app-to-net-core-3-part-2/#updating-wcf-client-usage)-->
    <!--<system.serviceModel>
  <bindings>
    <netTcpBinding>
      <binding name="WorkflowControlNetTcpBinding" transactionFlow="true">
        <security>
          <transport protectionLevel="Sign" />
        </security>
      </binding>
    </netTcpBinding>
  </bindings>
  <client />
</system.serviceModel>-->
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>