<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <add name="GIPLicenseEntities" connectionString="metadata=res://*/GIPLicense.csdl|res://*/GIPLicense.ssdl|res://*/GIPLicense.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=srv-sql\sqlexpress12;initial catalog=GIPDevelopLicense;persist security info=True;user id=gip; password=netspirit; MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
