<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="gip.core.reporthandler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <gip.core.reporthandler.Properties.Settings>
            <setting name="Options_DefaultFont" serializeAs="String">
                <value>Calibri</value>
            </setting>
            <setting name="Options_DefaultFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Options_SpellCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindow_ShowRuler" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Options_RulerMeasurement" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Options_Tabs_SizeMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowCommonEditGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCommonViewGroup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCommonInsertGroup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCommonToolsGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCommonFormatGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindow_ShowStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
        </gip.core.reporthandler.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
  </runtime>
</configuration>
