<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="gip.core.reporthandler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <gip.core.reporthandler.Properties.Settings>
            <setting name="Options_DefaultFont" serializeAs="String">
                <value>Calibri</value>
            </setting>
            <setting name="Options_DefaultFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Options_SpellCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindow_ShowRuler" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Options_RulerMeasurement" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Options_Tabs_SizeMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowCommonEditGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCommonViewGroup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCommonInsertGroup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCommonToolsGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCommonFormatGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindow_ShowStatusBar" serializeAs="String">
                <value>True</value>
            </setting>
        </gip.core.reporthandler.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.11.3.0" newVersion="2.11.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
