<connectionStrings>
<add name="iPlusV5_Entities"
   connectionString="Integrated Security=True;
		 Encrypt=False; 
		 data source=192.168.10.10\SQLEXP16;
		 initial catalog=iPlusV5;
		 Trusted_Connection=False;
		 persist security info=True;
		 user id=gip;
		 password=netspirit;
		 multipleactiveresultsets=True;
		 application name=iPlus"/>
</connectionStrings>
