<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Logging">
      <section name="LoggingConfiguration" type="gip.core.autocomponent.LoggingConfiguration, gip.core.autocomponent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=12adb6357a02d860" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="gip.iplus.client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
	<connectionStrings>
		<add name="iPlusV5_Entities"
		 connectionString="Integrated Security=True;
		 Encrypt=False; 
		 data source=.\SQLEXP16;
		 initial catalog=iPlusV5;
		 Trusted_Connection=False;
		 persist security info=True;
		 user id=gip;
		 password=netspirit;
		 multipleactiveresultsets=True;
		 application name=iPlus"/>
	</connectionStrings>
	<Logging>
		<LoggingConfiguration>
			<LoggingTypes>
				<addLoggingType FileType="DebugLog" MessageType="Default" Source="*"/>
			</LoggingTypes>
			<LogFiles>
				<addLogFile FileType="DebugLog" FileName="iPlusServiceDebugLog_%Date%" MaxSizeMB="10"/>
			</LogFiles>
		</LoggingConfiguration>
	</Logging>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
  </runtime>
</configuration>
