<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Logging">
      <section name="LoggingConfiguration" type="gip.core.autocomponent.LoggingConfiguration, gip.core.autocomponent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=12adb6357a02d860" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="gip.iplus.client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>  
  <connectionStrings>
    <add name="iPlusV4_Entities" connectionString="metadata=VarioBatch.csdl|VarioBatch.ssdl|VarioBatch.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRV-SQL;Initial Catalog=JoseraBDEV3;Persist Security Info=True;User ID=gip;Password=netspirit;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <Logging>
    <LoggingTypes>
      <addLoggingType FileType="DebugLog" MessageType="Default" Source="*"/>
    </LoggingTypes>
    <LogFiles>
      <addLogFile FileType="DebugLog" FileName="iPlusServiceDebugLog_%Date%" MaxSizeMB="10"/>
    </LogFiles>
  </Logging>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
