[Unit]
Description=iPlus Service

[Service]
ExecStart=/home/user/iPlus/publish_x64/gip.iplus.service /U00 /P00
Type=notify

[Install]
WantedBy=multi-user.target
